form{
    width:300px;
    margin:auto;
    text-align:center;
}
label{
    display:inline-block;
    width:80px;
    text-align:right;
    margin-right:10px;
}
input[type="Event Id"],
input[type="Event Name"],
input[type="Event Description"],
input[type="Event Date"],
input[type="Organizer Email"],
input[type="Organizer Phone"],
input[type="Event Location"],
input[type="Event Time"]
{
    width:200px;
    padding:5px;
    margin-bottom : 10px;
    border:1px solid #ccc;
    border-radius:3px;
}
button[type="submit"]
{
    background-color:rgb(0, 60, 255);
    color:blue;
    padding:10px 20px;
    border:none;
    border-radius:3px;
    cursor:pointer;
}
button[type="submit"]:hover{
    background-color: blue;
}